<!doctype HTML>
<html>
  <title> Add a Review </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'Reviews/custom.css'%}">
</head>
<body>
  <div class="container">
    <h1> Type your Review Below: </h1>
    <form>
      <div class="form-group">
        <label for"inputAuthor"><strong>Author:</strong></label>
        <input type="text" class="form-control" name="author" id="author" placeholder="Input author here">
      </div>
      <!--Author: <br><input type="text" name="author" id="author"><br>-->
      <div class="form-group">
        <label for"inputLocation">Location</label>
        <input type="text" class="form-control" name="location" id="location" placeholder="Input location here">
      </div>
      <!-- Location: <br><input type="text" name="location" id="location"><br>-->
      <div class="form-group">
        <label for"inputAuthor">Review</label>
        <textarea type="text" class="form-control" name="review" id="review" placeholder="Input review here"></textarea>
      </div>
      <!--Review: <br><input type="text" name="review" id="review"><br>-->
    </form>
    <div style="text-align:center">
      <button id="addButton",> Add Review </button>
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <script type="text/javascript">

      $(document).ready(function() {
        $('#addButton').click(function() {
          var author = $('#author').val();
          var location = $('#location').val();
          var review = $('#review').val();
          console.log(author, location, review);
          $.ajax({
            type: 'POST',
            url: 'submitReview/',
            dataType: 'json',
            data: {'author': author, 'location': location, 'review': review},
            success: function() {
              console.log("success")
            }
          });
        });
      });
  </script>


</body>

</html>
