<!doctype HTML>
<html>
<head>
  <title> Add a Review </title>
</head>
<body>
  <h1> Type your review below: </h1>
  <p> AFJkhlsdkjlfhekfge </p>
  <form>
    Author: <br><input type="text" name="author" id="author"><br>
    Location: <br><input type="text" name="location" id="location"><br>
    Review: <br><input type="text" name="review" id="review"><br>
  </form>
  <button id="addButton", class='addButton'> Add Review </button>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <script type="text/javascript">
      $(document).ready(function() {
        $('#addButton').click(function() {
          var author = $('#author').val();
          var location = $('#location').val();
          var review = $('#review').val();
          console.log(author, location, review);
          $.ajax({
            type: 'POST',
            url: 'submitReview/',
            dataType: 'json',
            data: {'author': author, 'location': location, 'review': review},
            success: function() {
              console.log("success")
            }
          });
        });
      });
  </script>
</body>

</html>
