<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Get Review</title>
</head>
<body>
    <h1>Search for Reviews</h1>
    <input type="text" id="searchBox">
    <button type="submit" id="submitButton">Search</button>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#submitButton").click(function(){
            updateProducts();
        });
        function updateProducts(){
            var search = $("#searchBox").val();
            $.ajax({
                type: 'GET',
                url: "/reviews/getReviews/" + search + "/",
                dataType: 'json',
                success: function(data){
                    for(var i = 0; i<data.length; i++){
                        responsiveVoice.speak(data[i].fields.reviewText);
                    }
                }
            })
        }
    })
</script>
</body>
</html>
